<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>사용자 신규 작성</title>
    </head>

<body>
    <h2>사용자 신규 작성</h2>
</form
action="{{ url_for('crud.create_user') }}"
method="POST"
novalidate="novalidate"
>

{{ form.csrf_token }}
<p>
{{ form.username.label H ff form.username(placeholder="사용자명") }}
</p>
{% for error in form.username.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
p>
{{ form.email.label }} {{ form.email(placeholder="매일주소") }}
</p>
{% for error in form.email.errors %}
<span style="color: red;">ff error ]></span>
{% endfor %}
<p>
A form.password. label )> (f form.password(placeholder=""|#s")
</p>
{% for error in form.password.errors %}
<span style="color: red;">ff error >K/span>
{% endfor %}